body {
    font-family: "微软雅黑","Arial","Helvetica","sans-serif";
}

li {
    list-style-type: none;
}

a {
    color: black;
	text-decoration: none;
}

a:hover {
	color: #e40;
}



.site {
	line-height: 1.5em;
	width: 50em;
	margin: auto;

}

.site .header {
    padding-top: 2em;
    padding-bottom: 2em;
}

.site .header .title {
	font-size: 230%;
	font-weight: bold;
}

.site .header .title a {
    color:#fff;

}

.site .header .contact {
    float: right;
}

.site .footer {
    border-top: 1px solid #ddd;
    padding-top: 1em;
    padding-bottom: 2em;
}

#post {
    margin-bottom: 4em;
}

.post-title {
font-family: "Palatino","Georgia",/*"Hiragino Mincho ProN",*/"Microsoft YaHei","WenQuanYi Micro Hei",serif;
    color:#343434;
    border-bottom:1px solid #bcbdbd;
    line-height:200%;
    margin:0 0 5px 0;
}

.entry-meta {
font-size: 1.1em;
font-family: Helvetica,'Hiragino Sans GB',Arial,sans-serif;
padding: 0.4em 0 1em;
color: #BCBCBC;
}

.entry-meta span.entry-date {
color: #808081;
font-size: 80%;
font-family: menlo, monospace;
}

.entry-meta span.entry-cat {
    float:right;
    color:#0088cc;
}



.section {
    margin:20px 0;
}

.section a{
    color:#0088cc;
}
.section a:hover{
    color:#005580;
}

.section p{
    margin:0.6em 1.5em 1em;
    font-size:14px !important;

}

.section li{
    height:26px;
    list-style:none;

}

.section ul{
    list-style: square;
    margin: 10px;
}

.section .entry-date {
color: #808081;
font-size: 80%;
}
.section .entry-sep {
color: #808081;
margin: 0.8em;
}

.section .entry-title{
    font-size:16px;
}
.section .entry-title a{
    color:#0088cc;
}
.section .entry-title a:hover{
    color:#005580;
}

.section .simple li{
    list-style-type:square;
    margin-left:1em;
    font-size:14px !important;
    float:left;
    margin-right:120px;

}

p.h2 {
line-height: 36px;
font-weight: normal;
text-align: left;
font-size: 13px !important;
margin: 0 0 1px 0;
color: #ADADAD;
text-transform: uppercase;
font-family: Helvetica, arial, sans-serif;
}


table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%;
}

table{
    width:100%;
    overflow:auto;
    display:block;
    border-collapse:collapse;
    border-spacing:0;
    border-color:gray;
font-size: 15px;
line-height: 1.7;
}


thead {
display: table-header-group;
vertical-align: middle;
border-color: inherit;
}

tr {
display: table-row;
vertical-align: inherit;
border-color: inherit;
}


table tr {
border-top: 1px solid #ccc;
background-color: #fff;
}


table th, table td {
border: 1px solid #ddd;
padding: 6px 13px;
display: table-cell;
vertical-align: inherit;
}


table tr:nth-child(2n) {
background-color: #f8f8f8;
}


.bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc;
    -moz-box-shadow: 0 1px 1px #ccc;
    box-shadow: 0 1px 1px #ccc;
}

.bordered tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.bordered th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}
