body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#777;
    font-size:15px;
    background-color:#f9f9f9;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #111;
    line-height: 1em;
}

h1 { font-size: 2.0em; }
h2 { font-size: 1.4em; padding-bottom: 5px; overflow:hidden }
h3 { font-size: 1.2em; }
h4 { font-size: 1.0em; }
h5 { font-size: 0.8em; }
h6 { font-size: 0.6em; }

strong, b { font-weight: bold; }

.left .right { display:inline; }

.left{ float:left; }

#nav_avatars_back {
background: url('/images/lion.png') no-repeat;
width: 100px;
height: 100px;
border-radius: 50%;
box-shadow: 1px 1px 3px rgb(136, 136, 136);
}

#home_avatar {
width: 100px;
height: 100px;
position: absolute;
border-radius: 50%;
opacity: 0;
z-index: 9;
}


.sitename a { font-size: 30px; font-weight: normal; color: #2C3E50; }

.nav a{ color: #2C3E50; font-size: 15px; margin: 0px 20px 0px 0px; }


li { list-style-type: none; line-height:30px; } 

a{ color:#0088cc; text-decoration: none; }

a:hover { color: #e40; }


.header{
    margin:30px 0 50px 0;
}

.header .logo{

    margin:0 0 30px 0;
}


li code,p code {
    font-size:13px;
    padding: 2px 4px;
    color: #d14;
    white-space: nowrap;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

ul, ol { margin: 1.5em 0; padding-left: 1.5em; line-height: 1.5em; }
ul li { list-style-type: square; }
ul li p { margin: 0; }

.site {
    line-height: 1.7;
    width: 55em;
    height:100%;
    margin: 30px auto 20px;
    position: relative;
    background: #fff;
    box-shadow: 0 2px 6px #ccc;
    z-index: 0;

}

.site .header {
    padding-top: 2em;
    padding-bottom: 2em;
}

.site .header .title {
    font-size: 230%;
    font-weight: bold;
}

.site .header .title a {
    color:#fff;

}

.site .header .contact {
    float: right;
}

.site .footer {
    border-top: 1px solid #ddd;
    padding-top: 1em;
    padding-bottom: 2em;
}

.entry{
    margin-bottom: 4em;
}

.entry-title{
    text-align:center;
    font-size:24px;
    color:#343434;
    line-height:200%;
    margin:0 0 5px 0;
   border-bottom: 1px dashed #eee;
}

.entry-content{
    line-height:2;
    margin: 0 30px 20px;
}


.entry-meta {
    font-size:14px;
    color: #BCBCBC;
    text-align:center;
    margin-bottom:30px;
}

.entry-meta span.entry-date {
    color: #808081;
    font-family: menlo, monospace;
    margin-right:25px;
}

.entry-meta span.entry-cat {
    color:#0088cc;
}



.section {
    margin:20px 0;
}

.section a{
    color:#0088cc;
}
.section a:hover{
    color:#005580;
}

.section p{
    margin:0.6em 1.5em 1em;
    font-size:14px !important;

}

.section li{
    height:26px;
    list-style:none;

}

.section ul{
    list-style: square;
    margin: 10px;
}

.section .entry-date {
    color: #808081;
    font-size: 80%;
}
.section .entry-sep {
    color: #808081;
    margin: 0.8em;
}

.section .entry-title{
    font-size:16px;
}
.section .entry-title a{
    color:#0088cc;
}
.section .entry-title a:hover{
    color:#005580;
}


.section .simple{
    clear:both;
    margin-bottom:50px;
}

.section .simple li{
    list-style-type:square;
    margin-left:1em;
    font-size:14px !important;
    float:left;
    margin-right:100px;

}

p.h2 {
    line-height: 36px;
    font-weight: normal;
    text-align: left;
    font-size: 13px !important;
    margin: 0 0 1px 0;
    color: #ADADAD;
    text-transform: uppercase;
    font-family: Helvetica, arial, sans-serif;
}


table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%;
    margin:15px 0;
}

table{
    width:100%;
    overflow:auto;
    display:block;
    border-collapse:collapse;
    border-spacing:0;
    border-color:gray;
    font-size: 15px;
    line-height: 1.7;
}


thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}


table tr {
    border-top: 1px solid #ccc;
    background-color: #fff;
}


table th, table td {
    border: 1px solid #ddd;
    padding: 6px 13px;
    display: table-cell;
    vertical-align: inherit;
}


table tr:nth-child(2n) {
    background-color: #f8f8f8;
}


.wrapper{
    margin: 0 50px 20px;
    background-color: #fff;
}

.wrapper h2{
    font-size: 1.2em;
    line-height: 35px;
    background-color: #F6F9FC;
    text-align: center;
    margin: 10px 0;
}

.postslist{
    padding:0;
    margin: 0px 0px 10px 0px;
    font-size:14px;
}


.postslist li {
    list-style: none;
    padding: 5px 0px;
    margin-bottom:10px;
}

.postslist li span {
    color: #BDC3C7;
    float: right;
    font-size: 0.8em;
}




.bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc;
    -moz-box-shadow: 0 1px 1px #ccc;
    box-shadow: 0 1px 1px #ccc;
}

.bordered tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.bordered th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

#disqus_thread{
    margin: 0 30px 20px;
}

.footer {
width: 100%;
max-width: 768px;
font-size:13px;
line-height: 2em;
margin: auto;
padding-bottom: 30px;
text-align: center;
color: #797979
margin-top:30px;
}

#back-to-top {
position: fixed;
bottom: 20px;
left: 80%;
z-index: 99;
}

/* Optimization for pre and code tag */
pre, code { 
    font-family: Consolas, "DejaVu Sans Mono", "Lucida Console", Monaco, Andale Mono, "MS Gothic", monospace;
    font-size: 13px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    overflow: auto;
}

code {
    color: #666;
    background-color: #eee;
    margin: 0 2px;
    padding: 1px 3px;
}

pre { 
    padding: 8px 12px;
    white-space: pre;
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap;     /* ancient Opera */
    white-space: -o-pre-wrap;   /* newer Opera */
    white-space: pre-wrap;      /* Chrome; W3C standard */
    word-wrap: break-word;      /* IE */
}

pre code {
    border: 0px !important;
    padding: 0;
    color: #000;
    background-color: #f8f8f8;
}
