<!DOCTYPE html>
<html>
<head>
　　<meta http-equiv="content-type" content="text/html; charset=utf-8" />
　　<title>{{ page.title }}</title>
	<link rel="stylesheet" href="/css/default.css" type="text/css" />
</head>
<body>

<div class="site">
	<div class="header">
		<div class="title"><a href="{{ site.baseurl }}">Abstrack</a></div>
		<div class="contact">
			<a href="mailto:lyf021408@gmail.com">lyf021408@gmail.com</a>
		</div>
	</div>

　　{{ content }}


	<div class="footer">
		<a href="https://github.com/leongithub/blog">博客源码</a>
		&nbsp;|&nbsp;<a href="https://github.com/leongithub">GitHub</a>
	</div>
</div>

</body>
</html>
