---
layout: default
---

<link rel="stylesheet" href="/js/prettify/prettify.css" />

<script type="text/javascript" src="http://cdn.bootcss.com/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src="/js/prettify/prettify.js"></script>

<div id="post">
	<h2 class="post-title">{{ page.title }}</h2>
    <div class="entry-meta">
        <span class="entry-date">{{ page.date|date:"%Y-%m-%d" }}</span>
        <span class="entry-cat">{{ page.cat }}</span>
    </div>
	{{ content }}
</div>

<script type="text/javascript">
	$(function(){
		$('pre').each(function(){
			$(this).addClass('prettyprint');
		});
    	$('table').each(function(){
			$(this).addClass('bordered');
		});
		prettyPrint();
	});

</script>

<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'blogleon';
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
