---
layout: default
---

<link rel="stylesheet" href="{{ site.baseurl }}/js/prettify/prettify.css" />
<script type="text/javascript" src="{{ site.baseurl }}/js/prettify/prettify.js"></script>

<div id="post">
	<h1 class="post-title">{{ page.title }}</h1>
        <p class="post-date">{{ page.date|date:"%Y-%m-%d" }}</p>
	{{ content }}
</div>

<script type="text/javascript">
	(function() {
		prettyPrint();	
	})();
</script>

<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'blogleon'; 
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
